$bgColor: #74AFAD;
$secOutline: dashed 1px #D9853B;

body {
  background: $bgColor;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  section {
    outline: $secOutline;
  }
}

main * {
  padding-top: 5px;
  padding-bottom: 5px;
}
